/* styles.css */

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:#EFE5D8;
}


/* Header Styles */
.header {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color:  rgb(212, 8, 28);
  height: 100px;
}

/* Label Styles */
#label1 {
  width: 500px;
  height: 180px;
}

/* Cup Styles */
.tims-cup {
  display: grid;
  align-content: center;
  width: 700px;
  justify-content: center;
  height: 470px;
 
}

#cup1 {
  justify-self:center;
  height: 470px;
 
}
.main-container
{
   display: grid;
   border-radius: 3px solid green;
   height:1200px;
   justify-content: center;
}
/* Container Styles */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  height: 150px;
  row-gap: 5px;
  height: 70%;
}
.para
{
  display: grid;
  align-content: center;
  width: 700px;
 

}
/* Item Styles */
.item1 {
  display: grid;
  align-content: center;
  height: 40px;
  border-bottom: 1px solid silver;
}

/* Container 2 Styles */
.container2 {
  grid-area: 4/1/4/span 2;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 8px;
  border-bottom:  1px solid silver;
}
.container3 {
  grid-area: 8/1/8/span 2;
  display: grid;
 justify-content: center;
 align-content: center;
 
  
}

/* Label Styles */
.labels {
  margin: 0px 10px;
  padding-top: 10px;
  font-size: 19px;
  font-weight: bold;
}

/* Button Styles */
.buttons {
  border-radius: 30px;
  padding: 15px 5px;
  text-decoration: none;
  width: 160px;
  display: inline-block;
  font-size: 16px;
  background-color:  rgb(212, 8, 28);
  color: white;
  font-weight: bold;
  border-color: white;
}

.buttons:hover {
  color: rgb(212, 8, 28) ;
  width: 150px;
  background-color: white;
}
.counter-container
{
  display:flex;
  background-color: white;
  justify-content: space-between;
  width:250px;
  border:2px solid black;
  height:40px;
  margin-left: 85px;
}

#quantity
{
  background-color: white;
  width:40px ;
  border:none;
  text-align: center;
  color:red;
  font-weight: bold;
  font-size: larger;
}

.counter-button 
{
  padding: 0px 15px 0px 15px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  color:red;
  font-size: 28px;
}
.counter-button:hover 
{
  background-color: #e0e0e0;
}

/* Box Styles */
.boxes {
  width: 250px;
  height: 30px;
  border: 2px solid black;
  color: rgb(212, 8, 28);
  padding-left: 0;
  margin-left: 85px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.boxes2 {
  width: 255px;
  height: 40px;
  border: 2px solid black;
  color: rgb(212, 8, 28);
  padding-left: 0;
  margin-left: 85px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

/* Button 10 Styles */
#btn10 {
  border-color: white;
  width: 330px;
  border-radius: 30px;
  color: white;
  padding: 15px 5px;
  text-decoration: none;
  font-size: 16px;
  background-color:  rgb(212, 8, 28);
  font-weight: bold;
  margin: 0 auto;
  margin-right:80px;
}
#btn10:hover {
  color: rgb(212, 8, 28) ;
  width: 350px;
  background-color: white;
  border:2px solid rgb(212, 8, 28);
}
/* Form Container Styles */
.form-container {
  display: grid;
  justify-content: center;
  
  height: 700px;
}

/* Paragraph Styles */
p {
  text-align: center;
  font-weight: bold;
}
#AdLabel
{
   font-family: 'Times New Roman', Times, serif;
   font-size: 36px;
   color: rgb(212, 8, 28);
   font-style:italic;
}
#price
{
   font-family: 'Times New Roman', Times, serif;
   font-size: 22px;
   color: rgb(212, 8, 28);
   font-style:italic;
}
#myPrice
{
  color:rgb(212, 8, 28);
  font-weight: bold;
 
}
